 header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6.4rem;
}

 header a{
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-decoration: none;
  color: #000;
}

header .logo{
  height: 3.7rem;
}
